a:link{
    color:#F07;
    }
    a:visited{
    color:#906;
    }
    a:hover{
    background-color:#E7F3FF;
    text-decoration:none;
    }
    blockquote{
    background:url(quote.gif) #F7FBFF no-repeat bottom right;
    margin:0px 20px;
    padding-bottom:15px;
    }
    body{
    background:white;
    color:#58A;
    font:0.8em/1.6em "tahoma","sans-serif";
    padding-top:10%;
    text-align:center;
	margin: 33px;
    }
    h1{
		font: italic small-caps 36px georgia,"serif";
		left: 50%;
		letter-spacing: -1px;
		margin-left: -425px;
		position: absolute;
		top: 0px;
		width: 850px;
    }
    h1 a:link,h1 a:visited,h1 a:hover{
    background:none;
    color:#437CB1;
    display:block;
    padding:20px 180px 10px 0px;
    text-decoration:none;
    }
    h2{
    color:#77AACC;
    font:1.8em "times new roman",serif;
    letter-spacing:1px;
    }
    hr,#skip-nav,#sidebar h2{
    display:none;
    }
    p{
    text-indent:20px;
    }
    

	.styled-table {
		border-collapse: collapse;
		margin: 25px 0;
		font-size: 0.9em;
		font-family: sans-serif;
		min-width: 400px;
		box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
	}

	.styled-table thead tr {
		background-color: #009879;
		color: #ffffff;
		text-align: left;
		font-size: medium;
	}
	.styled-table th,
    .styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
	